
:root{
    /* variaveis globais: */
    --paragraphLineHeight: 1.0; /*É recomendado não usar nenhuma unidade para ter mais flexibilidade*/
    --musicFontSize:1.5rem;
    --indexFontSize:2.25rem;
    --fontSizeSliderStep: 0.1;

    --borderColor: rgb(190, 190, 190);
    --bodyBackground: rgb(245, 245, 245);
    --headerBackground: rgb(63, 84, 177);
    --menuBackground:white;
    --textColor: #000000;
}


body {
     font-family: Arial, sans-serif;
     /* font-family: Georgia, "Times New Roman", serif; */
/*      
    background-color: rgb(240, 240, 240);
    color: rgb(0, 0, 0);  */

    background-color: var(--bodyBackground);
    color:var(--textColor);
}

body.darkTheme{
  --bodyBackground:rgb(20, 20, 20);
  --borderColor:rgb(88, 88, 88);
  --menuBackground:black;
  --headerBackground: rgba(0, 47, 255, 0.384);
  --textColor:rgb(255, 192, 74);
}

body.lightTheme{
  background-color:var(--bodyBackground);
  border-color:var(--borderColor);
  color:var(--textColor);  
}


/*  p {
    line-height: var(--paragraphLineHeight);
    margin-bottom: 0px;
}


a {
    font-weight: bold;  
    margin-left:0px; 
    font-size:larger 
}

a:hover {
    color: #008080;
    text-decoration: underline;
}
 */

/* Hyperlink do índice de rodapé */
.footnote-link{
    font-size:25px;
    text-decoration: none;
}

#header{
  text-align: center; 
  background-color: var(--headerBackground);
  padding: 10px; 
  align-content: center;
}

.index-container{
    display: block;
    font-size:var(--indexFontSize);
    margin-left: 20px;    
}

.index-container a {
  text-decoration: none;
}

.index-container div {
    margin-left:2px;
    margin-bottom: 10px;
    padding-right:5px;
    font-size: var(--musicFontSize);
}



/* .content-section {
    font-size: var(--musicFontSize);
    margin-bottom: 20px;
    padding: 5px 20px 25px;
    border-left: 5px solid #0073e6;
} */


.song-number{
    width:25px; 
    font-size: x-large;
    font-weight: bold;
}

.td-number{
    text-align: right; 
    padding-right: 20px;
}


/* == SIDE MENU ========== */
.sidenav, .fontSizeMenu, .sortMenu, .themeMenu{
  border-style: solid;
  border-radius: 6px;
  border-color:var(--borderColor);
  position: fixed;
  z-index: 1;
  top: 10px;
  right: 0;
  background-color: var(--menuBackground);
  overflow-x: hidden;
  transition: 0.5s;
  padding: 0px;
  transform: translateX(100%);
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--textColor);
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;  
  background-color: #50a2c8;
}

.fontSizeMenu{
  padding:20px;
  width:40%;
}


.slidecontainer {        
    width: 100%; /* Width of the outside container */
}

.sortMenu{
  padding:20px;
}

 
.sortMenu p {
  font-size: 15px;
}

.sortMenu label {
  font-size: 25px;
}

.themeMenu{
  padding:20px;
}


.themeMenu p {
  font-size: 15px;
}



/* PRECISO DISTO???? */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
