
:root{
    /* variaveis globais: */
    --paragraphLineHeight: 1.0; /*É recomendado não usar nenhuma unidade para ter mais flexibilidade*/
    --musicFontSize:1.5rem;
    --indexFontSize:2.25rem;
    --fontSizeSliderStep: 0.1;
    /* --musicFontSize:24px; */
}

p {
    line-height: var(--paragraphLineHeight);
    margin-bottom: 0px;
}

/* Hyperlinks - geral */
a {
    color: #0246c5;  
    text-decoration: none;   /* Removes the default underline */
    font-weight: bold;  
    margin-left:0px; 
    font-size:larger 
}

a:hover {
    color: #008080;
    text-decoration: underline;
}


/* Hyperlink do índice de rodapé */
.footnote-link{
    font-size:25px;
}


.index-container{
    display: flex;
    margin-left: 20px;
}

.index-container div {
    margin-left:2px;
    margin-bottom: 10px;
    padding-right:5px;
    font-size: var(--musicFontSize);
}

.content-section {
    font-size: var(--musicFontSize);
    margin-bottom: 20px;
    padding: 5px 20px 25px;
    background-color: #e2dedeee;
    border-left: 5px solid #0073e6;
}

.slidecontainer {        
    width: 45%; /* Width of the outside container */
}

.song-number{
    width:25px; 
    font-size: x-large;
    font-weight: bold;
}

.td-number{
    text-align: right; 
    padding-right: 20px;
}

